.wrapper{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    min-width: 100px;
    padding: 9px 16px;
    border-radius: 4px;
    font-size: 1.6rem;
    font-weight: 700;
    background-color: white;
    border: 1px solid transparent;
    user-select: none;

    .icon{
        display: inline-block;
        min-width: 24px;
        text-align: center;
    }
}

//styles
button[disabled]{
    opacity: 0.5;
    cursor: default;
}

.rounded{
    min-width: 90px;
    font-size: 1.4rem;
    font-weight: 700;
    color: rgba(22,24,35,0.7);
    border-color: rgba(22,24,35,0.12);
    border-radius: 92px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.06);

    &:hover {
        border-color: rgba(22,24,35,0.2);
        background-color: rgba(22,24,35,0.03);
    }
}

.primary{
    color: white;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    
    &:hover{
        border-color: var(--primary-color);
        background: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0, 0, 0, 0.15)), #FE2C55;
    }
}

.outline{
    color: var(--primary-color);
    border-color: currentColor;
    &:hover{
        border-color: currentColor;
        background-color: rgba(254, 44, 85, 0.06)
    }
}



.text{
    &:hover{
        text-decoration: underline;
    }
}

//sizes
.small {
    min-width: 88px;
    padding: 4px 16px;
}

.large {
    min-width: 100%;
    padding: 14px 16px;
}