@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,400;1,700&display=swap');

:root{
    --primary-color: #fe2c55;

    //DefaultLayout
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Source Serif Pro', serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;

    // cusstom tolltip
    .tippy-box{
        background-color: rgb(100, 100, 100);
        border-radius: 8px;
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 2.2rem;
    }
    
    .tippy-arrow{
        color: rgb(100, 100, 100);
    }
}

button{
    cursor: pointer;
}

button,input,[tabindex] {
    outline: none;
    border: none;
}

a[href] {
    color: black;
    text-decoration: none;
}